* {
    font-family: DM sans;
}

#container {
    width: 1000px;
    box-sizing: border-box;
    background-color: whitesmoke;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}

/*********************** NAV MENU ****************************/

nav {
    margin: 20px 100px;
    height: 3.5em;
    background-color: #92b2ba;
    color: white;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

/*********************** BANNER ****************************/

#banner {
    margin: 10px 100px;
    height: 20em;
    background-image: url("./images/banner.png");
    background-size: contain;
}

#hero1 #hero2 {
    display: block;
    /* I've tried a bunch of stuff to try to get this text to sit on the right and none of it worked. Would love help with this. */
}

#hero1 {
    height: 40px;
    width: 150px;
    color: #92b2ba;
}

#hero2 {
    height: 20px;
    width: 200px;
    font-size: 14px;
    font-weight: 600;
    padding: 2px;
    color: #f0a8bb;
    background-color: white;
}

/********************* FLOWER GRID *************************/

img {
    box-sizing: border-box;
    height: 15em;
}
#flowers {
    margin: 0 72px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.rowOf3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item {
    width: 30%;
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.itemName {
    width: 200px;
    color: #92b2ba;
}

.cost {
    background-color: #f0a8bb;
    color: white;
    width: 30px;
}

.itemName, .cost {
    display: inline; /* also can't get this to work */

}

.keyWords {
    background-color: #eeeeee;
}


/********************* FOOTER *************************/

footer {
    margin: 0 100px;
    background-color: #eeeeee;
    display: flex;
    flex-direction: row;
}

ul {
    list-style: none;
}

.footer1, .footer2, .footer3 {
    margin: 5px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer img {
    height: 80px;
}